TELEGRAM_BOT_TOKEN=your_token_here
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=mesh_gateway
RABBITMQ_TELEGRAM_TO_MESHTASTIC_QUEUE=telegram_to_meshtastic
