TELEGRAM_BOT_TOKEN=your_token_here
MESHTASTIC_SERIAL_PORT=/dev/ttyUSB0
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=mesh_gateway
RABBITMQ_TELEGRAM_TO_MESHTASTIC_QUEUE=telegram_to_meshtastic
